# The logic of all the builds is:
# - every active version of Python should be validated once
# - every platform should be validated once

language: python
python:
  - "3.5"
  - "3.6"
  # - "3.7"  # not needed, validated as part of the mac build
  # - "3.8"  # not needed, validated as part of the windows build
  - "3.9-dev"  # 3.8 development branch
  - "pypy3"

jobs:
  include:
    - name: Python 3.8 on Windows
      os: windows
      language: bash
      install: 
        - choco install python3 --version 3.8
        - cmd /c copy c:\Python38\python.exe c:\python38\python3.exe
        - python3 --version
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
      
    - name: "Python 3.7 on MacOs X"
      os: osx
      language: bash
      osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
      before_script: python3 --version
      
    - name: mypy checks
      install: pip install mypy
      script: mypy --python-version 3.5 --strict maildir2mbox.py 
      
script:
  - python3 test_maildir2mbox.py
